body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}
.jumbotron img {
  width: 100%;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575.98px) {
  body {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .jumbotron {
    margin: 0 0 20px;
    padding: 10px;
    text-align: center;
  }
}
