.location-name {
  font-weight: bold;
}

.location-code {
  width: 100%;
}

.clue-box {
  width: 100%;
  height: 80px;
}

button {
  width: 100%;
  margin-top: 8px;
}

@media (max-width: 575.98px) {
  .clue-box {
    margin-top: 8px;
  }
}
